<a href="https://colab.research.google.com/github/div-yansh/train_list/blob/master/train_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import bs4
import pandas as pd

from google.colab import files

In [0]:
url = "https://www.prokerala.com/travel/indian-railway/trains/"
response = requests.get(url)

In [0]:
soup = bs4.BeautifulSoup(response.text, 'lxml')

In [0]:
train_no = []
train_name = []
train_link = []
source = []
destination = []

In [0]:
match = soup.findAll("div", class_="table-responsive")
for iter_ in match:
    match2 = iter_.find("table", class_="table t-xsmall table-striped")
    match3 = match2.find("tbody")
    match4 = match3.findAll("tr")

    for iter_2 in match4:
        match5 = iter_2.findAll("td")
        link = "https://www.prokerala.com/" + match5[2].find("a")["href"]

        train_no.append(match5[1].text)
        train_name.append(match5[2].text)
        train_link.append(link)
        source.append(match5[3].text)
        destination.append(match5[4].text)

In [0]:
df = pd.DataFrame()

In [0]:
source_code = [None] * len(source)
destination_code = [None] * len(destination)

In [0]:
df[["train_no"]] = pd.DataFrame(train_no)
df[["train_name"]] = pd.DataFrame(train_name)
df[["source"]] = pd.DataFrame(source)
df[["source_code"]] = pd.DataFrame(source_code)
df[["destination"]] = pd.DataFrame(destination)
df[["destination_code"]] = pd.DataFrame(destination_code)
df[["train_link"]] = pd.DataFrame(train_link)

In [236]:
df.head()

  train_no  ...                                         train_link
0    15609  ...  https://www.prokerala.com//travel/indian-railw...
1    58719  ...  https://www.prokerala.com//travel/indian-railw...
2    58721  ...  https://www.prokerala.com//travel/indian-railw...
3    54703  ...  https://www.prokerala.com//travel/indian-railw...
4    79438  ...  https://www.prokerala.com//travel/indian-railw...

[5 rows x 7 columns]

In [237]:
df.tail()

     train_no  ...                                         train_link
9967    06541  ...  https://www.prokerala.com//travel/indian-railw...
9968    19031  ...  https://www.prokerala.com//travel/indian-railw...
9969    19032  ...  https://www.prokerala.com//travel/indian-railw...
9970    12395  ...  https://www.prokerala.com//travel/indian-railw...
9971    12396  ...  https://www.prokerala.com//travel/indian-railw...

[5 rows x 7 columns]

In [0]:
station = []
station_code = []

In [0]:
url = "https://www.cleartrip.com/trains/stations/list?page="

In [0]:
for i in range(1, 6):
    url1 = url + str(i)
    response = requests.get(url1)
    soup = bs4.BeautifulSoup(response.text, 'lxml')

    match = soup.find("div", class_="innerdiv")
    match1 = match.find("table", class_="results")
    match2 = match1.find("tbody")
    match3 = match2.findAll("tr")

    for iter_ in match3:
        match4 = iter_.findAll("td")
        station.append(match4[1].text)
        station_code.append(match4[0].text)

In [0]:
df1 = pd.DataFrame()
df1[["station"]] = pd.DataFrame(station)
df1[["station_code"]] = pd.DataFrame(station_code)

In [242]:
df1.head()

           station station_code
0    A N Dev Nagar         ACND
1         Abhaipur          AHA
2  Abhayapuri Asam          AYU
3           Abohar          ABS
4         Abu Road          ABR

In [243]:
df1.tail()

           station station_code
4598       Zamania          ZNA
4599       Zampini          ZPI
4600  Zangalapalle          ZPL
4601         Zarap         ZARP
4602         Zawar           ZW

In [0]:
for index, iter_ in df.iterrows():
    sname = iter_["source"]
    dname = iter_["destination"]
    if sname in station:
        ind = station.index(sname)
        iter_["source_code"] = station_code[ind]
    if dname in station:
        ind = station.index(dname)
        iter_["destination_code"] = station_code[ind]

In [245]:
df.head()

  train_no  ...                                         train_link
0    15609  ...  https://www.prokerala.com//travel/indian-railw...
1    58719  ...  https://www.prokerala.com//travel/indian-railw...
2    58721  ...  https://www.prokerala.com//travel/indian-railw...
3    54703  ...  https://www.prokerala.com//travel/indian-railw...
4    79438  ...  https://www.prokerala.com//travel/indian-railw...

[5 rows x 7 columns]

In [246]:
df.tail()

     train_no  ...                                         train_link
9967    06541  ...  https://www.prokerala.com//travel/indian-railw...
9968    19031  ...  https://www.prokerala.com//travel/indian-railw...
9969    19032  ...  https://www.prokerala.com//travel/indian-railw...
9970    12395  ...  https://www.prokerala.com//travel/indian-railw...
9971    12396  ...  https://www.prokerala.com//travel/indian-railw...

[5 rows x 7 columns]

In [0]:
df1.to_csv("station_list.csv")
files.download("station_list.csv")

In [0]:
df.to_csv("train_list.csv")
files.download("train_list.csv")